<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>회원 검색</h1>
    <table border="1">
        <tr><th>ID</th><th>NAME</th></tr>
        <% data.forEach(row => { %>
        <tr>
            <td><%= row[0] %></td>
            <td><%= row[1] %></td>
        </tr>
        <% }); %>
    </table>


    <div>
        <input type="text" class="search_input" id="searc">
        <button>검색</button>
    </div>
</body>
</html>